@tailwind base;
@tailwind components;
@tailwind utilities;

html, .EmojiPickerReact .epr-body{
  scrollbar-color: #9F9F9F #2c2c2c;
}

html::-webkit-scrollbar, 
.EmojiPickerReact .epr-body::-webkit-scrollbar{
  width: 10px;
}

html::-webkit-scrollbar-track,
.EmojiPickerReact .epr-body::-webkit-scrollbar-track{
  background: #2c2c2c;
}

html::-webkit-scrollbar-thumb,
.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb {
  background-color: #9F9F9F;
  border-radius: 8px;
  border: 3px solid #2c2c2c;
}

html::-webkit-scrollbar-thumb:hover,
.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: #fafafa;
}

a {
  color: #FAFAFA;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  margin-bottom: .5em;
  color: #AAA;
  font-size: .7em;
}

input {
  background-color: #3b3b3b;
  color: #AAA;
  border: 1px solid #555;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: .6em;
}

input::placeholder {
  color: #aaa;
}

.btn,
button,
input[type="submit"] {
  background-color: #0094f6;
  color: #FFF;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: .8;
  font-size: 1em;
}

input[type="submit"] {
  margin-top: 1em;
}

input:disabled {
  cursor: not-allowed;
  background-color: #000;
}

button:hover,
input[type="submit"]:hover {
  opacity: 1;
}

.cancel-btn {
  background-color: #ccc;
}

.hide {
  display: none;
}

.EmojiPickerReact .epr-body{
  scrollbar-width: thin;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar-track {
  border-radius: 8px;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb {
  border: 3px solid #9F9F9F;
}

.EmojiPickerReact .epr-emoji {
  font-size: 16px !important;
  padding: 4px !important;
}

.EmojiPickerReact h2 {
  font-size: 0.8rem;
}

.EmojiPickerReact .epr-category-nav button {
  font-size: 12px;
}

.EmojiPickerReact .epr-header {
  display: none;
}

.emoji {
  width: 12px;
  height: 12px;
}
.emoji-large {
  width: 18px;
  height: 18px;
}

@font-face {
  font-family: "Mouse Memoirs";
  src: url("./assets/fonts/MouseMemoirs-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}